<aside class="w-32 h-[calc(100vh-80px)] bg-white shadow-xl text-gray-900 flex flex-col">
  <nav class="flex-1 p-1">
    <ul class="space-y-3">
      <li>
        <a [routerLink]="['/']" class="flex flex-col items-center justify-center space-y-2 p-3 h-[150px] rounded-lg hover:bg-blue-900 hover:text-white transition cursor-pointer">
          <i class="fas fa-home text-2xl"></i>
          <span class="text-sm">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/productos']" class="flex flex-col items-center justify-center space-y-2 p-3 h-[150px] rounded-lg hover:bg-blue-900 hover:text-white transition cursor-pointer">
          <i class="fas fa-box text-2xl"></i>
          <span class="text-sm">Productos</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/users']" class="flex flex-col items-center justify-center space-y-2 p-3 h-[150px] rounded-lg hover:bg-blue-900 hover:text-white transition cursor-pointer">
          <i class="fas fa-users text-2xl"></i>
          <span class="text-sm">Usuarios</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>