<mat-toolbar class="bg-cover bg-center text-white shadow-lg h-80" style="background-image: url('/images/bg.png');">
  <span class="tmodulo-md">CRUD Basico Laravel Angular SQLServer</span>

  <!-- Sección para mostrar el usuario y el botón de cerrar sesión -->
  <span class="ml-auto flex items-center space-x-4">
    <span *ngIf="user" class="text-sm text-white">
      {{ user?.name }}
    </span>
    <i class="fa fa-user text-white"></i>
    <button mat-raised-button color="warn" (click)="logout()"><i class="fa fa-sign-out-alt"></i></button>
  </span>
</mat-toolbar>
